
/* --------------------------------------------------------------

  Base

  -------------------------------------------------------------- */

html, body {
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: opacity .2s ease-out, margin-left .2s ease-out;
  &.nav-open {
    @media #{$mq-sm} {
      margin-left: $navbar-width-sm;
    }
    margin-left: $navbar-width;
    opacity: 0.3;
  }
}

.hide-on-close{
  visibility: hidden;
}
.hide-on-open{
  visibility: visible;
}

.nav-open .hide-on-open{
  visibility: hidden;
}
.nav-open .hide-on-close{
  visibility: visible;
}

.white{
  color: white!important;
}

.backgrounds {
  position: fixed;
  opacity: 1;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3
}

#content {
  transition: transform 0.4s ease-out;
}

/* --------------------------------------------------------------

  Media Queries

  -------------------------------------------------------------- */

@media #{$mq-sm} {
  .mq-sm{
    display: block;
  }
  .mq-lg{
    display: none;
  }
}
@media #{$mq-lg} {
  .nav-icon{
    float: right;
    padding-right: 10px;
    display: block;
  }
  .mq-sm{
    display: none;
  }
  .mq-lg{
    display: block;
  }
}
