/* --------------------------------------------------------------

  Navigation

  -------------------------------------------------------------- */
#nav-bar {
  position: fixed;
  width: 280px;
  height: 100%;
  z-index: 999;
  top: 0;
  bottom: 0;
  background-color: #222;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-transition: -webkit-transform .4s ease-out;
          transition: transform .4s ease-out;
  left: -280px;
}
@media only screen and (max-width: 1024px) {
  #nav-bar {
    width: 50px;
  }
}
@media only screen and (max-width: 1024px) {
  #nav-bar {
    left: -50px;
  }
}
#nav-bar.nav-open {
  -webkit-transform: translateX(280px);
      -ms-transform: translateX(280px);
          transform: translateX(280px);
}
@media only screen and (max-width: 1024px) {
  #nav-bar.nav-open {
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
  }
}

#nav-toggle {
  position: relative;
}
#nav-toggle a {
  display: block;
  height: 32px;
  width: 32px;
  padding: 8px;
  position: fixed;
  top: 3px;
  left: 7px;
  color: inherit;
  text-decoration: none;
  -webkit-transition: -webkit-transform .4s ease-out, opacity .4s ease-out;
          transition: transform .4s ease-out, opacity .4s ease-out;
}
#nav-toggle.nav-open a.open-close {
  top: 4px;
  -webkit-transform: translateX(270px);
      -ms-transform: translateX(270px);
          transform: translateX(270px);
}
@media only screen and (max-width: 1024px) {
  #nav-toggle.nav-open a.open-close {
    -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
            transform: translateX(40px);
  }
}

#nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  background-color: #222;
}
#nav-bar ul li {
  margin: 0;
  padding: 0;
}
#nav-bar ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  height: 100%;
  width: -webkit-calc( 100% - 28px);
  width: calc( 100% - 28px);
  padding: 14px;
  -webkit-transition: color .2s ease-out, background-color .2s ease-out;
          transition: color .2s ease-out, background-color .2s ease-out;
  text-overflow: ellipsis;
  overflow: hidden;
}
#nav-bar ul li a:hover {
  background: #fff;
  color: #222;
}

.angle {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: black;
  top: -50px;
  left: 230px;
  z-index: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s ease-out;
          transition: transform .2s ease-out;
}
@media only screen and (max-width: 1024px) {
  .angle {
    top: -50px;
    left: 0px;
  }
}

#nav-toggle.nav-open .angle {
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
}

#click-nav a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 999;
}
#click-nav a.prev {
  left: 0;
}
#click-nav a.next {
  left: 50%;
}

#nav-bar ul#chapter-list {
  position: fixed;
  z-index: 1;
  background-color: #111;
  width: 220px;
  top: 0;
  left: -220px;
  bottom: 0;
  -webkit-transition: -webkit-transform .4s ease-out;
          transition: transform .4s ease-out;
}
#nav-bar ul#chapter-list.open {
  -webkit-transform: translateX(220px);
      -ms-transform: translateX(220px);
          transform: translateX(220px);
}
@media only screen and (max-width: 1024px) {
  #nav-bar ul#chapter-list.open {
    -webkit-transform: translateX(270px);
        -ms-transform: translateX(270px);
            transform: translateX(270px);
  }
}
#nav-bar ul#chapter-list li {
  white-space: nowrap;
}

/* --------------------------------------------------------------

  Base

  -------------------------------------------------------------- */
html, body {
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: opacity .2s ease-out, margin-left .2s ease-out;
          transition: opacity .2s ease-out, margin-left .2s ease-out;
}
main.nav-open {
  margin-left: 280px;
  opacity: 0.3;
}
@media only screen and (max-width: 1024px) {
  main.nav-open {
    margin-left: 50px;
  }
}

.hide-on-close {
  visibility: hidden;
}

.hide-on-open {
  visibility: visible;
}

.nav-open .hide-on-open {
  visibility: hidden;
}

.nav-open .hide-on-close {
  visibility: visible;
}

.white {
  color: white !important;
}

.backgrounds {
  position: fixed;
  opacity: 1;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

#content {
  -webkit-transition: -webkit-transform 0.4s ease-out;
          transition: transform 0.4s ease-out;
}

/* --------------------------------------------------------------

  Site Loader

  -------------------------------------------------------------- */
/* --------------------------------------------------------------

  Media Queries

  -------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  .mq-sm {
    display: block;
  }

  .mq-lg {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-icon {
    float: right;
    padding-right: 10px;
    display: block;
  }

  .mq-sm {
    display: none;
  }

  .mq-lg {
    display: block;
  }
}
